*{
    margin: 0;
    padding: 0;
    
}
html body{
    background-color: #bfffff;
}
.nav-bar{
    margin-top:20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #FFF1D0;
}
.nav-bar img{
    height:30px ;
    width:30px
}
.item-menu{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.item-menu img{
    width: 20px;
    height: 20px;
}
.title-menu{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-right: 200px;
    
}
.section-1{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
  
}


.content-1 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
.content-1 p{
    margin-top: 20px;
}
.content-1 h3{
    font-family:Arial, Helvetica, sans-serif;
text-align: center;
font-size: 25px;;
}
.content-1 form{
    margin-top: 30px;
}
.content-1 input{
    font-family: monospace;
    font-size: 15px;
    margin-top: 15px;
    display: block;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    border: 1px;
    margin-left: 50px;
}
.content-1 button{
font-family: Arial, Helvetica, sans-serif;
   margin-top: 20px;
   margin-left: 50px;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 1px;
    background-color:aqua;
}
.content-2 img{
height: 400px;
width: 450px;
}
.content-2 p{
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}
.title-footer{
    font-family: 'Anton', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.footer img{
    height: 150px;
    width: 300px;
}
.footer p{
    margin-top: 15px;
}
.line{
    width: 100%;
    border: 1px solid #FFF1D0;
}
.name-footer{
    font-family: sans-serif;
    margin-top: 25px;
    text-align: center;
}